@font-face {
  font-family: "SF Pro";
  src: url("./public/assets/fonts/SF-Pro-Text-Regular.woff2") format("woff2"),
    url("./public/assets/fonts/SF-Pro-Text-Regular.woff") format("woff"),
    url("./public/assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("./public/assets/fonts/SF-Pro-Text-Bold.woff2") format("woff2"),
    url("./public/assets/fonts/SF-Pro-Text-Bold.woff") format("woff"),
    url("./public/assets/fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
}

html {
  font-family: "SF Pro";
}

body {
  /* place-items: center; */
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-bar {
  background-color: rgb(255, 218, 31);
  flex-grow: 1;
  position: relative;
}

.game-name {
  color: white;
  transform: rotate(180deg);
  font-weight: bold;
  font-size: calc(90vh / 10);
  white-space: nowrap;
  writing-mode: vertical-rl;
  position: absolute;
  right: -0.3em;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  padding: 30px;
}

.header {
  margin: 0 auto;
}

.header__text {
  font-size: 14px;
}

.main {
  margin: 0 auto;
  text-align: center;
}

.menu {
  padding: 20px 0;
}

.menu__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex: 1;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu__item:hover {
  background-color: rgb(255, 218, 31);
}

.menu__active {
  background-color: rgb(255, 218, 31);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 420px;
  height: 420px;
  padding: 30px;
  border: 3px solid rgb(255, 218, 31);
  border-radius: 70px;
  box-shadow: 10px 10px 0px 5px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.board__tile {
  background-size: cover;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.board__tile:nth-child(1) {
  background-image: url('public/assets/images/1.png');
}

.board__tile:nth-child(2) {
  background-image: url('public/assets/images/2.png');
}

.board__tile:nth-child(3) {
  background-image: url('public/assets/images/3.png');
}

.board__tile:nth-child(4) {
  background-image: url('public/assets/images/4.png');
}

.board__tile:nth-child(5) {
  background-image: url('public/assets/images/5.png');
}

.board__tile:nth-child(6) {
  background-image: url('public/assets/images/6.png');
}

.board__tile:nth-child(7) {
  background-image: url('public/assets/images/7.png');
}

.board__tile:nth-child(8) {
  background-image: url('public/assets/images/8.png');
}

.board__tile:nth-child(9) {
  background-image: url('public/assets/images/9.png');
}

.tile__cutout {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 5px solid white; */
  box-shadow: 0px 0px 0px 100px white;
  z-index: 10;
  position: absolute;
}

.settings {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.settings__icon {
  width: 20px;
  height: 20px;
  opacity: 30%;
  cursor: pointer;
  transition: opacity 0.3s;
}

.settings__icon:hover {
  opacity: 50%;
}

.settings__icon:active {
  opacity: 100%;
}

.button {
  margin: 15px 0 30px;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: rgb(255, 218, 31);
}

.right-bar {
  flex-grow: 1;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rss-logo {
  margin-bottom: 5px;
}

.footer__info {
  color: #909090;
}

.footer__link {
  text-decoration: none;
  color: #909090;
}