.flashlight__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}


.flashlight {
    pointer-events: none;
  }
  
  .flashlight__hint {
    position: absolute;
    width: 120px;
    font-size: 12px;
    top: 2%;
    right: 2%;
    opacity: 50%;
    color: white;
    z-index: 1000;
  }