@import "./reset.css";
@import "./fonts.css";

@import "./header.css";
@import "./game.css";
@import "./tabs.css";
@import "./footer.css";

@import "./dialog.css";

.container {
  display: flex;
  height: 100vh;
}

.left-bar {
  background-color: rgb(255, 218, 31);
  flex-grow: 1;
  position: relative;
}

.game-name {
  color: white;
  transform: rotate(180deg);
  font-weight: bold;
  font-size: calc(90vh / 10);
  white-space: nowrap;
  writing-mode: vertical-rl;
  position: absolute;
  right: -0.3em;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px;
}

.main {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.flashlight {
  position: absolute;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.11) 10%,
    rgba(0, 0, 0, 0) 48%,
    rgba(0, 0, 0, 0.72) 60%,
    rgba(0, 0, 0, 1) 70%
  );
  z-index: 100;
  box-shadow: 0 0 0 9999px #000;
  pointer-events: none;
}

.flashlight__hint {
  position: absolute;
  width: 120px;
  font-size: 12px;
  top: 2%;
  right: 2%;
  opacity: 50%;
  color: white;
  z-index: 1000;
}

.button:focus-visible {
  outline: none;
}
